Django==5.2.6
django-extensions==4.1
phonenumbers==9.0.13
pillow==11.3.0
python-dotenv==1.0.1
django-allauth[socialaccount]
django-bootstrap5==25.2
Faker==37.6.0
dj-database-url==3.0.1
psycopg2-binary==2.9.10
# deployment
gunicorn==23.0.0
whitenoise==6.11.0
